In [2]:
from vnstock import *
from function import *
from operators import *

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

In [ ]:

ticket = ['ACB', 'BCM', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'MBB', 'MSN', 'MWG', 'NVL', 'PDR', 'PLX', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIB', 'VIC', 'VJC', 'VNM', 'VPB', 'VRE']
frame = []
for i in ticket:
    a = stock_historical_data(symbol=i, 
                            start_date="2013-01-01", 
                            end_date='2023-02-11')    
    a["ticker"] = i
    frame.append(a)
    
q = pd.concat(frame)
close= q.pivot_table(values="Close", columns="ticker", index="TradingDate")
high= q.pivot_table(values="High", columns="ticker", index="TradingDate")
low= q.pivot_table(values="Low", columns="ticker", index="TradingDate")
open= q.pivot_table(values="Open", columns="ticker", index="TradingDate")

In [3]:
financial_report(symbol='ACB', report_type='IncomeStatement', frequency='Quarterly').T

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
CHỈ TIÊU,Thu nhập lãi và các khoản thu nhập tương tự,Chi phí lãi và các chi phí tương tự,Thu nhập lãi thuần,Thu nhập từ hoạt động dịch vụ,chi phí hoạt động dịch vụ,Lãi thuần từ hoạt động dịch vụ,Lãi/(lỗ) thuần từ hoạy động kinh doanh ngoại h...,Lãi/(lỗ) thuần từ mua bán chứng khoán kinh doanh,Lãi/(lỗ) thuần từ mua bán chứng khoán đầu tư,Thu nhập từ hoạt động khác,...,LN thuần từ hoạt động kinh doanh trước CF dự p...,Chi phí dự phòng rủi ro tín dụng,Tổng lợi nhuận trước thuế,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Chi phí thuế thu nhập doanh nghiệp,Lợi nhuận sau thuế,Lợi ích của cổ đông thiểu số,Cổ đông của Công ty mẹ,Lãi cơ bản trên cổ phiếu
Q3 2020,7930860000000.0,-4295859000000.0,3635001000000.0,735773000000.0,-244196000000.0,491577000000.0,192807000000.0,17433000000.0,37526000000.0,154046000000.0,...,2753568000000.0,-161996000000.0,2591572000000.0,-511134000000.0,-5866000000.0,-517000000000.0,2074572000000.0,0.0,2074572000000.0,0.0
Q4 2020,8461611000000.0,-4045879000000.0,4415732000000.0,797121000000.0,-391415000000.0,405706000000.0,198686000000.0,63524000000.0,32411000000.0,136332000000.0,...,3431690000000.0,-246961000000.0,3184729000000.0,-633372000000.0,-1814000000.0,-635186000000.0,2549543000000.0,0.0,2549543000000.0,0.0
Q1 2021,8314894000000.0,-3675322000000.0,4639572000000.0,880105000000.0,-254898000000.0,625207000000.0,196140000000.0,113492000000.0,48939000000.0,246046000000.0,...,3710080000000.0,-605761000000.0,3104319000000.0,-710036000000.0,89118000000.0,-620918000000.0,2483401000000.0,0.0,2483401000000.0,0.0
Q2 2021,8653369000000.0,-3662982000000.0,4990387000000.0,1186356000000.0,-299977000000.0,886379000000.0,231524000000.0,91668000000.0,44709000000.0,174708000000.0,...,4634679000000.0,-1386245000000.0,3248434000000.0,-591994000000.0,-68205000000.0,-660199000000.0,2588235000000.0,0.0,2588235000000.0,0.0
Q3 2021,8290513000000.0,-3770002000000.0,4520511000000.0,897088000000.0,-261529000000.0,635559000000.0,205933000000.0,183481000000.0,92038000000.0,148382000000.0,...,3435685000000.0,-820086000000.0,2615599000000.0,-558745000000.0,45761000000.0,-512984000000.0,2102615000000.0,0.0,2102615000000.0,0.0
Q4 2021,8455034000000.0,-3660712000000.0,4794322000000.0,1062911000000.0,-316093000000.0,746818000000.0,237959000000.0,61319000000.0,58365000000.0,134023000000.0,...,3553777000000.0,-524017000000.0,3029760000000.0,-528304000000.0,-72961000000.0,-601265000000.0,2428495000000.0,0.0,2428495000000.0,0.0
Q1 2022,9053845000000.0,-3613173000000.0,5440672000000.0,1024894000000.0,-285735000000.0,739159000000.0,303367000000.0,-11224000000.0,6505000000.0,429099000000.0,...,4111162000000.0,2843000000.0,4114005000000.0,-982622000000.0,156152000000.0,-826470000000.0,3287535000000.0,0.0,3287535000000.0,0.0
Q2 2022,9419513000000.0,-3813123000000.0,5606390000000.0,1342948000000.0,-349681000000.0,993267000000.0,145269000000.0,-226653000000.0,18353000000.0,412721000000.0,...,4646996000000.0,267364000000.0,4914360000000.0,-903936000000.0,-67276000000.0,-971212000000.0,3943148000000.0,0.0,3943148000000.0,0.0
Q3 2022,10320044000000.0,-4287794000000.0,6032250000000.0,1296877000000.0,-430092000000.0,866785000000.0,95844000000.0,-39964000000.0,-1502000000.0,104791000000.0,...,4565196000000.0,-90436000000.0,4474760000000.0,-866236000000.0,-21532000000.0,-887768000000.0,3586992000000.0,0.0,3586992000000.0,0.0
Q4 2022,11905432000000.0,-5451215000000.0,6454217000000.0,1392840000000.0,-465807000000.0,927033000000.0,503889000000.0,-110032000000.0,-2708000000.0,163883000000.0,...,3861668000000.0,-250585000000.0,3611083000000.0,-692817000000.0,-47748000000.0,-740565000000.0,2870518000000.0,0.0,2870518000000.0,0.0

In [4]:
pd.read_csv("Data/close.csv",index_col="TradingDate")

,ACB,BCM,BID,BVH,CTG,FPT,GAS,GVR,HDB,HPG,...,TCB,TPB,VCB,VHM,VIB,VIC,VJC,VNM,VPB,VRE
TradingDate,,,,,,,,,,,,,,,,,,,,,
2013-01-02,4130.0,NaN,NaN,31526.0,11250.0,6573.0,24194.0,NaN,NaN,1481.0,...,NaN,NaN,11697.0,NaN,NaN,17014.0,NaN,23659.0,NaN,NaN
2013-01-03,4059.0,NaN,NaN,33090.0,11144.0,6482.0,24194.0,NaN,NaN,1495.0,...,NaN,NaN,11991.0,NaN,NaN,17014.0,NaN,23523.0,NaN,NaN
2013-01-04,4083.0,NaN,NaN,34733.0,11197.0,6573.0,24753.0,NaN,NaN,1544.0,...,NaN,NaN,12286.0,NaN,NaN,17014.0,NaN,23931.0,NaN,NaN
2013-01-07,4083.0,NaN,NaN,36454.0,11250.0,6537.0,24753.0,NaN,NaN,1621.0,...,NaN,NaN,12622.0,NaN,NaN,17759.0,NaN,23931.0,NaN,NaN
2013-01-08,4083.0,NaN,NaN,38253.0,11357.0,6862.0,25311.0,NaN,NaN,1692.0,...,NaN,NaN,13254.0,NaN,NaN,17971.0,NaN,25018.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-07,24600.0,84000.0,43800.0,49200.0,29200.0,80700.0,106300.0,14800.0,18000.0,19750.0,...,27400.0,24400.0,92000.0,46800.0,22057.0,55000.0,109400.0,76100.0,17950.0,28550.0
2023-02-08,24650.0,84500.0,44500.0,49250.0,29900.0,81200.0,107300.0,14750.0,18300.0,20850.0,...,27850.0,24600.0,94200.0,46600.0,22200.0,54400.0,108000.0,75800.0,17950.0,28500.0
2023-02-09,24500.0,84700.0,44000.0,49350.0,29400.0,80700.0,108100.0,14950.0,18200.0,20600.0,...,27300.0,24250.0,93000.0,45300.0,22000.0,54200.0,101900.0,75000.0,18000.0,28200.0
2023-02-10,24200.0,84500.0,42950.0,49800.0,29100.0,80700.0,106100.0,14650.0,18150.0,20500.0,...,26950.0,23550.0,94500.0,45400.0,21000.0,54000.0,102000.0,75900.0,17500.0,28200.0
2023-02-13,23900.0,83800.0,44400.0,48500.0,29150.0,80700.0,105900.0,14000.0,18050.0,20200.0,...,26600.0,23000.0,93500.0,44400.0,20200.0,53400.0,103100.0,75300.0,17000.0,28500.0