In [1]:
from vnstock import *

from convert import *


import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

In [2]:
ticket = ['ACB', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'MBB', 'MSN', 'MWG', 'NVL', 'PDR', 'PLX', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIB', 'VIC', 'VJC', 'VNM', 'VPB', 'VRE']

### Field

In [7]:
data = pd.DataFrame(index=range(1000))
for i in ticket:
    try:
        a = ticker_overview(i)["industry"][0]
        if a not in data.columns:
            data[a]=financial_report(symbol=i, report_type='IncomeStatement', frequency='Quarterly')["CHỈ TIÊU"]
    except Exception:
        continue
di = data.isna().sum(axis=1)>=len(data.columns)
di=di[di==True].index
data.drop(di,axis=0,inplace=True)
data.to_excel("field/ic_field.xlsx")

### IncomeStatement

In [3]:
data = pd.DataFrame()
for i in ticket:
    try:
        df = financial_report(symbol=i, report_type='IncomeStatement', frequency='Quarterly')
        df["ticker"] = i 
        # df.index = [ticker_overview(i)["industry"][0]]*len(df.index)
        data = pd.concat([data, df])
    except Exception:
        continue
# df = data.groupby([data.index,"CHỈ TIÊU","ticker"]).agg(sum)

### Balance sheet

In [4]:
data1 = pd.DataFrame()
for i in ticket:
    try:
        df = financial_report(symbol=i, report_type='BalanceSheet', frequency='Quarterly')
        df["ticker"] = i 
        # df.index = [ticker_overview(i)["industry"][0]]*len(df.index)
        data1 = pd.concat([data1, df])
    except Exception:
        continue
    
# df = data.groupby([data.index,"CHỈ TIÊU","ticker"]).agg(sum)

### CashFlow

In [5]:
data2 = pd.DataFrame()
for i in ticket:
    try:
        df = financial_report(symbol=i, report_type='CashFlow', frequency='Quarterly')
        df["ticker"] = i 
        # df.index = [ticker_overview(i)["industry"][0]]*len(df.index)
        data2 = pd.concat([data2, df])
    except Exception:
        continue
# df = data.groupby([data.index,"CHỈ TIÊU","ticker"]).agg(sum)

### Merge Data

In [44]:
df = pd.concat([data,data1])
# df.drop("Unnamed: 0",axis=1,inplace=True)
ct = df["CHỈ TIÊU"].tolist()

In [45]:
values = [converter[key] for key in ct]
df["CHỈ TIÊU"]=values

In [46]:
df

,CHỈ TIÊU,Q3 2020,Q4 2020,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,ticker
0,income,7.930860e+12,8.461611e+12,8.314894e+12,8.653369e+12,8.290513e+12,8.455034e+12,9.053845e+12,9.419513e+12,1.032004e+13,1.190543e+13,ACB
1,none,-4.295859e+12,-4.045879e+12,-3.675322e+12,-3.662982e+12,-3.770002e+12,-3.660712e+12,-3.613173e+12,-3.813123e+12,-4.287794e+12,-5.451215e+12,ACB
2,income,3.635001e+12,4.415732e+12,4.639572e+12,4.990387e+12,4.520511e+12,4.794322e+12,5.440672e+12,5.606390e+12,6.032250e+12,6.454217e+12,ACB
3,income,7.357730e+11,7.971210e+11,8.801050e+11,1.186356e+12,8.970880e+11,1.062911e+12,1.024894e+12,1.342948e+12,1.296877e+12,1.392840e+12,ACB
4,none,-2.441960e+11,-3.914150e+11,-2.548980e+11,-2.999770e+11,-2.615290e+11,-3.160930e+11,-2.857350e+11,-3.496810e+11,-4.300920e+11,-4.658070e+11,ACB
...,...,...,...,...,...,...,...,...,...,...,...,...
43,none,8.710260e+12,1.191177e+13,1.191177e+13,9.196666e+12,1.279667e+13,1.258484e+13,1.255883e+13,1.253008e+13,1.203024e+13,1.353506e+13,VPB
44,none,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,VPB
45,none,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,VPB
46,none,1.771964e+13,1.741536e+13,2.061717e+13,2.734864e+13,2.590946e+13,2.249989e+13,3.111074e+13,3.464543e+13,3.837546e+13,1.675909e+13,VPB
47,none,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,VPB